src/main/resources/newConnectionPayment.wadl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<application xmlns="http://wadl.dev.java.net/2009/02">
    <grammars>
        <include href="schema1.xsd"/>
    </grammars>
    <resources base="http://example.com/">
        <resource path="/connections">
            <method name="POST">
                <request>
                    <representation mediaType="application/json">
                        <param name="case_id" style="plain" type="xs:long" required="true"/>
                        <param name="dsa_amount" style="plain" type="xs:long" required="true"/>
                        <param name="msa_amount" style="plain" type="xs:long" required="true"/>
                   
       
                    </representation>
                </request>
                <response>
                    <representation mediaType="application/json" status="201">
                        <param name="successful" style="plain" type="xs:string"/>
                    </representation>
                   
                    <representation mediaType="application/json" status="400">
                        <param name="error" style="plain" type="xs:string"/>
                    </representation>
                   
                    <representation mediaType="application/json" status="500">
                        <param name="error" style="plain" type="xs:string"/>
                    </representation>
                </response>
            </method>
        </resource>
    </resources>
</application>
