src/main/resources/schema1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="NEW_CONNECTION">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="case_id" type="xs:long"/>
                <xs:element name="dsa_amount" type="xs:long"/>
                <xs:element name="msa_amount" type="xs:long"/>
                <xs:element name="createDate" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
